

.wp-block-oc-soft-image-slider {

  & > div.slide-image-root {
    position: relative;
    width: 100%;
  }
}

.components-panel__row {
  button.oc-command-button {
    margin-left: auto;
  }
}

// vi: se ts=2 sw=2 et:
